In [1]:
import quandl
import pandas as pd

quandl.ApiConfig.api_key = 'REMOVED'
orig_series=quandl.get('EOD/AA', start_date='2000-01-01', end_date='2019-10-18')
orig_series.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2016-11-01,22.10,23.5500,21.7800,23.00,32216510.0,0.0,1.0,22.10,23.5500,21.7800,23.00,32216510.0
2016-11-02,22.67,23.2650,22.6358,22.91,10755328.0,0.0,1.0,22.67,23.2650,22.6358,22.91,10755328.0
2016-11-03,22.96,24.3493,22.9400,24.15,8083097.0,0.0,1.0,22.96,24.3493,22.9400,24.15,8083097.0
2016-11-04,23.82,25.5000,23.5600,25.20,6878500.0,0.0,1.0,23.82,25.5000,23.5600,25.20,6878500.0
2016-11-07,25.54,26.4100,24.8900,25.08,8377025.0,0.0,1.0,25.54,26.4100,24.8900,25.08,8377025.0

In [2]:
from pandas import read_csv
from pandas import datetime
from pandas import DataFrame
from statsmodels.tsa.arima_model import ARIMA
from matplotlib import pyplot
import sys
import warnings
warnings.filterwarnings('ignore')

In [12]:
X=orig_series.iloc[:,3]

In [13]:
size = int(len(X) * 0.66)
train, test = X[0:size], X[size:len(X)]
predictions = list()

In [29]:
for t in range(len(test)):
    model = ARIMA(X, order=(5,1,0))
    model_fit = model.fit(disp=0)
    output = model_fit.forecast()
    yhat = output[0]
    predictions.append(yhat)
    obs = test[t]
    X.append(obs)
    print('predicted=%f, expected=%f' % (yhat, obs))
#error = mean_squared_error(test, predictions)
print('Test MSE: %.3f' % error)

TypeError: cannot concatenate object of type '<class 'numpy.float64'>'; only Series and DataFrame objs are valid

In [ ]:
pyplot.plot(test)
pyplot.plot(predictions, color='red')
pyplot.show()