In [ ]:
import quandl
import pandas as pd

quandl.ApiConfig.api_key = 'REMOVED'
# key='EOD/Unitevice'
# orig_series=quandl.get(key, start_date='2000-01-01', end_date='2019-10-18')
# orig_series.head()

In [ ]:
american_stocks_df = pd.read_csv('american_stocks.csv', header=None)
eod_metadata_df = pd.read_csv('EOD_metadata.csv', header=None)

In [23]:
american_stocks_df.tail(5)
eod_metadata_df.head(5)

       0     1
437  437  SGMA
438  438   CLX
439  439   BCR
440  440   BAX
441  441   KMB

In [ ]:
for index, row in american_stocks_df.iterrows():
    row_string = 'EOD/'+ str(row[1])

Error
EOD/ALM
Error
EOD/PQUE
Error
EOD/INIS
Error
EOD/ULUR
Error
EOD/YHOO
Error
EOD/IMP
Error
EOD/XCOO.Q
Error
EOD/TCM
Error
EOD/CNGO
Error
EOD/QTWW.Q
Error
EOD/VMEM.Q